.main .city-wrap div{
	padding-bottom: 24px;
}
.hot-city h3,.hot-city h3 a,.city-item h3,.city-item h3 a{
	margin-bottom: 14px;
	font-size: 16px;
	color: #333;
}
.hot-city a,.city-item a{
	margin-right: 12px;
	font-size: 14px;
}
