.main h1{
	margin: 30px 0 40px;
	font-size: 20px;
	color: #333;
}
.main .city-wrap div{
	margin-bottom: 24px;
}
.hot-city h3,.hot-city h3 a,.city-item h3,.city-item h3 a{
	margin-bottom: 14px;
	font-size: 16px;
	color: #333;
}
.hot-city a,.city-item a{
	margin-right: 10px;
	font-size: 14px;
	color: #666;
}
.hot-city a:hover,.city-item a:hover{color: #ff571a;}