/* CSS Document */
body,p,ul,li,h1,h2,h3,h4,h5,h6{padding:0;margin:0;font-family:Microsoft Yahei;line-height:1;}
body{font-size: 12px;}
img{border:none;}
ul,li{list-style:none;}
a{text-decoration:none;}
.clear{zoom:1;}
.clear:after{
	content:"";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	}
